<h1 class="text-center">Emotion</h1>
<div class="paragraph ">
  <p>I really don't know how this concept is supposed to work but one thing i know is that its supposed to be simple yet its not.</p>
  <p>Day by day everything just gets more and more complicated.It gets to days when you dont even understand why or what you are feeling but you just know it ain't right</p>
<p>On some days you can be happy then you suddenly aren't and you can't explain it to yourself cause you don't even have the words, and everyone is telling you to take a breath and at the time you don't even know if you can even breathe</p>
</div>
