<h1>PROJECT SAMPLE 1</h1>
<h2>FIRST SESSION</h2>
<p>So hey its me, you probably don't know who I am and its fine and if you think you
  do then you are mistaken. Truth is if I'm being honest I don’t know who I am
  either cause each and everyday its a constant struggle trying to understand
  myself and I’ve learned to accept that. Just as the sun's position is constantly
  changing, we as people, are constantly in motion too. Most will argue that they are
  always the same but I beg to differ. Our emotions and other factors in the environment
  constantly define us how we act in each moment. An example of this is the times
  when you find yourself saying ‘If you’d asked me the same thing yesterday I would
  have probably given you a different answer’. Now I hope you are starting to
  understand when I say you can be a different person depending on the situation
  and even more than often the person you are talking to, cause lets face it some people in our lives
  get preferential treatment .Though sometimes we do it subconsciously but fact is it still happens. All I’m
  trying to make you aware of the fact that you cannot always be in total control of
  <span class="fw-bolder">yourself</span> and that you as a person are not just flesh and bone but rather an
  amalgamation of all the different aspects of your surroundings, your emotional
  state and more often than not the people around you</p>
<p>That being said we live in a modern world so our influences surpass more than
  just the physical world, please don’t get all frolicky in your head and start thinking
  I’m about to start talking about the metaphysical world. Rather I’d talk about the
  virtual world which nowadays most would argue has become the new real world
  and with the current pace of technological advancement many would support that
  idea. Great pioneers of the current time also agree with this presumption and
  some of them like Elon Musk who believes that the physical world might just be some
  form of highly developed code. Now I think you see my point when I say the
  virtual world may have the biggest influence in what kind of person you are. Lets
  take an example, you are getting into a bus while checking through Instagram, you
  find a really funny post and you laugh, instantly your mood changes and if the
  person who is supposed to sit next to you engages you in conversation you likely
  to be friendlier and more responsive and who knows that may be how you came
  to make a new friend and the relationship may progress and lead into something
  more bigger.</p>
<p> Now imagine this as you were getting into the bus an annoying
  advertisement pops up on your screen and you get mad and drop your phone and
  as the other passenger try's to pick it up for you, you end up shouting at them
  instead of being grateful to them for trying to help you. Well then I guess you end
  up not talking the entire journey and when you get to the house you realize that
  the person you shouted at was a distant relative you not met before. Well I bet you
  think that I’m probably making stuff up but that's not the case both these
  incidents are true stories and so you believe me when I say the first incident was how my
  friend met the current mother of his one year old son and the second is how my
  uncle had a horrible start with one of his second cousins. So please you can now start
  taking me a little bit more seriously right now, if I inserted a laughing emoji at the
  end of that statement you would have laughed but still you are trying to tell
  yourself that what you see on a screen don’t influence you.</p>
<p>Well before I conclude the today's session I know those of you who don’t know me
  personally you probably have a formed opinion in your head of what I probably
  look like. Correct me if I’m wrong but most of you are thinking that I’m probably a
  bit older and have a lot of experience in life. Well if you think that then you are more than conforming to my point
  that the virtual world plays a big part in affecting how we think, feel, and act. How I present myself to you virtually greatly
  affects what you expect of me in the real world.</p>
<p>The message I’m trying to put out is if you wanna get the most out of life don’t
  focus so much on being in control cause you can’t always be in control of who you are and what you do
  and you should also have the same understanding for other people,because a lot of
  factors come into play.</p>
<p>
  If there is any topic of discussion you want me to write about fell free to reach
  out on my mail or contact.</p>
