@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
*{
  padding-left:25px;
  padding-right:25px;
}
h1,h2{
  text-align:center;
 /* font-family: 'Inter', sans-serif;*/
  font-family: 'Patrick Hand', cursive;
}
p{
  font-family: 'Montserrat', sans-serif;
}
span{
  display:inline;
  padding-left: 0;
  padding-right: 0;
}
